﻿@model IEnumerable<lab6.Models.Hospital>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Лікарні</h3>
    <table>
        <tr class="header">
            <td><p>Назва</p></td>
            <td><p>Лiкарня</p></td>
            
            <td></td>
        </tr>
        @foreach (lab6.Models.Hospital b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Address</p></td>
                
              
            </tr>
        }
    </table>
</div>